{{#each invTools}}
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">{{toolName}}</span>
                    <p>Brand: {{toolCo}}</p>
                    <p>Model: {{toolModel}}</p>

                    {{#each employTag}}
                    <p>Checked Out At: {{createdAt}}</p>
                    <p>Employee: {{name}}</p>
                    {{/each}}
                    {{#each notes}}
                    <p>Created At: {{createdAt}}</p>
                    <p>Note: {{noteContent}}</p>
                    {{/each}}
                </div>
                <div>
                    <div class="card-action">
                        <a href="{{_id}}/users/new"><button class=" btn green darken-2">Check Out Tool</button></a>
                    </div>
                    <div>
                        <a href="{{_id}}/users"><button class="btn">See User History</button></a>
                    </div>
                </div>
                <div class="notes-buttons">
                    <div class="card-action">
                        <a href="{{_id}}/notes/new"><button class="btn">Create Note</button></a>
                    </div>
                    <div>
                        <a href="{{_id}}/notes"><button class="btn">All Notes</button></a>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{{_id}}/edit"> <button class=" btn">Update Tool</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{/each}}