{{#each invTools}}
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">{{toolName}}</span>
                    <p>Brand: {{toolCo}}</p>
                    <p>Model: {{toolModel}}</p>

                    {{#each employTag}}
                    <p>Checked Out At: {{createdAt}}</p>
                    <p>Employee: {{name}}</p>
                    {{/each}}
                    {{#each notes}}
                    <p>Note Post Date: {{createdAt}}</p>
                    <p>Note: {{noteContent}}</p>
                    {{/each}}
                </div>
                <div>
                    <div class="card-action">
                        <a href="{{_id}}/users/new" class="col s6 offset-s1"><button class="btn green darken-2">Check
                                Out Tool</button></a>
                        <a href="{{_id}}/users"><button class="btn green darken-2">See User History</button></a>
                    </div>
                </div>
                <div class="notes-buttons">
                    <div class="card-action">
                        <a href="{{_id}}/notes/new" class="col s6 offset-s1"><button class="btn green darken-2">Create
                                Note</button></a>
                        <a href="{{_id}}/notes"><button class="btn green darken-2">All Notes</button></a>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{{_id}}/edit" class="col s6 offset-s1"> <button class="btn green darken-2">Update Tool</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{/each}}