<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <h1>Add New Tool</h1>
                    <form action="/" method="POST">
                        <input type="text" name="toolName" placeholder="Tool Name" value="">
                        <input type="text" name="toolCo" placeholder="Brand" value="">
                        <input type="text" name="toolModel" placeholder="Model" value="">
                        <button class="btn" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


{{!-- <div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <h3>Tool Checkout Log</h3>
                    <span class="card-title">{{name}}</span>
                    <p>{{createdAt}}</p>
                    <p>{{department}}</p>
                </div>
                <div class="actionBar">
                    <a href="{{../id}}/edit"><button class="btn" class="btn">Update</button></a>
                    <form action="../{{_id}}?_method=DELETE" method="POST">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div> --}}