<h1>Checkout Tool Here</h1>
<div>
    {{newTool}}
    <h1>{{newTool.toolName}}</h1>
    <p>Brand: {{toolCo}}</p>
    <p>Model: {{toolModel}}</p>
    <p>Date Checked Out: {{checkOut}}</p>
    {{!-- input field idea from materialize document --}}
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Placeholder" id="employTag" type="text" class="validate">
            <label for="employeeTag">Employee Name</label>
            <input placeholder="Placeholder" id="department" type="text" class="validate">
            <label for="department">Department</label>
        </div>
        <div class="input-field col s12">
            <input id="Note" type="text" class="validate">
            <label for="Note">Note</label>
        </div>
        <a href="/"><button class="btn">Checkout Tools</button></a>
    </div>
</div>
<a href="{{newTool.id}}/edit">Edit Tool</a>