<div class="container">
    {{#each showToolUsers}}
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green lighten-1">
                <div class="card-content white-text">
                    <h3>Tool Checkout Log</h3>
                    <span class="card-title">{{name}}</span>
                    <p>{{createdAt}}</p>
                    <p>{{department}}</p>
                </div>
                <div class="actionBar">
                    <a href="{{../_id}}/edit"><button class="btn" class="btn">Update</button></a>
                    <form action="../{{_id}}?_method=DELETE" method="POST">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>