<div class="container">
    {{#each showToolUsers}}
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Tool Checkout Log</span>
                    <p><b>Employee:</b> {{name}}</p>
                    <p><b>Checkout Date:</b> {{createdAt}}</p>
                    <p><b>Department:</b> {{department}}</p>
                </div>
                <div class="actionBar">
                    <a href="/{{../toolId}}/users/{{_id}}/edit">
                        <button class="btn green darken-2">Update</button></a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>